----------------------LIST COMPREHENSION----------------

Q. Filter out string with length greater than 2 and convert them to upper case

In [13]:
string = ['a', 'as' , 'bus', "car", 'dove', 'python']

In [14]:
#method 1

result= []
for i in string:
    if len(i)>2:
        result.append(i.upper())
print(result)

['BUS', 'CAR', 'DOVE', 'PYTHON']

In [15]:
#method 2

[i.upper() for i in string if len(i)>2]

['BUS', 'CAR', 'DOVE', 'PYTHON']

---------------DICTIONARY COMPREHENSION--------------------

Q. print the lengths of the strings stored in the list in form of a dictionary

In [16]:
{len(i) for i in string}

{1, 2, 3, 4, 6}

"""comment: the list or dictionary is getting mutated and stored in the same parent variable
with no extra storage used like in method1 where result =[] was used."""

----------------Nested List Comprehension----------------------------

In [19]:
data= [['john','emily', 'micheal', 'mary', 'steven'],
       ['maria', 'juan', 'javiar', 'natalia', 'pillar']]
print(data)

[['john', 'emily', 'micheal', 'mary', 'steven'], ['maria', 'juan', 'javiar', 'natalia', 'pillar']]

Q. produce single list containing all names with two or more'a' in them

In [23]:
#method1
output=[]
for i in data:
    for j in i:
        if j.count('a')>=2:
            output.append(j)
print(output)

['maria', 'javiar', 'natalia']

In [27]:
#method2
output=[]
for i in data:
    a=[j for j in i if j.count('a')>=2]
    output.extend(a)
print(output)

['maria', 'javiar', 'natalia']

In [33]:
#method3
[j for i in data for j in i if j.count('a')>=2]

['maria', 'javiar', 'natalia']

--------------------------------FUNCTIONS------------------------------------

In [39]:
def sum(x,y):
    return x+y

sum(2,5)

7

In [42]:
#with return keyword

def sum(x, y):
    return x+y

a=sum(3,2)
print(a)

5

In [45]:
#withOUT return keyword

def sum(x, y):
    print(x+y)

a=sum(3,2)
print(a)

5
None

In [16]:
#parameters and arguments and default values

def func(x,y,z=1.5):
    if z>1:
        return z+x+y
    else:
        return z*x*y

In [17]:
func(5,6)

12.5

In [18]:
func(5,6, z=0.7)

21.0

In [19]:
func(x=10,y=20,z=30)

60

In [20]:
func(10,20,30)

60

In [21]:
def func():
    a=[]            # list a is local to the function and hence will trhow error if printed outside function
    for i in range(5):
        a.append(i)
func()
print(a)

NameError: name 'a' is not defined

In [23]:
a=[]      #here list a is not local to the function
def func():
    for i in range(5):
        a.append(i)
func()

print(a)

[0, 1, 2, 3, 4]

In [24]:
def func():
    global a      # declare the variable a as global if you wish to define the variable a inside the function
    a=[]
    for i in range(5):
        a.append(i)
func()

print(a)

[0, 1, 2, 3, 4]

In [25]:
#one may return multiple values from a function
def f():
    a=5
    b=3
    c=9
    return {"a":a, "b":b, "c":c}
f()

{'a': 5, 'b': 3, 'c': 9}

In [26]:
def f():
    a=5
    b=3
    c=9
    return a, b, c
f()

(5, 3, 9)

In [28]:
states= [" Albama ", "Georgia!", "georgia", "Georgia", "FlOrida", "south carolina##", "West virginia?"]

import re #regular expressions

def clean_strings(strings):
    result=[]
    for value in strings:
        value=value.strip()           #remove blank spaces from extreme left and right
        value=re.sub("[!#?]", "", value)    #substitute special character
        value=value.title()              #capitalize first letter of each word
        result.append(value)
    return result

clean_strings(states)

['Albama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

-------------------- Lambda Functions -------------------------

In [29]:
#small single line anonymous functions returns the result

In [30]:
def shortfunc(x):       #method 1
    return x*2

shortfunc(20)

40

In [32]:
equiv = lambda x:x*2      #method 2
equiv(20)

40

In [34]:
equiv = lambda x,y: x*y*2
equiv(20,40)

1600

In [36]:
def applylist(l, f):
    return [f(x) for x in l] #item aappended is the output of the function

ints=[4,0,1,5,6]
applylist(ints, lambda x:x*2)  #function is defined through lambda function

[8, 0, 2, 10, 12]

In [42]:
strings=["foo", "card", "bar", "aaaa", 'abab']
#a=set(strings[1])
#print(a)
strings.sort(key=lambda x:len(set(x)))     #sorting based on no. of distinct characters
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

------------------------Errors and Exception handling----------------------------

In [43]:
float("1.2345")

1.2345

In [44]:
float("something")

ValueError: could not convert string to float: 'something'

In [46]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x    #the code in except block will only be executed if try block raises an exception

In [47]:
attempt_float("1.2345")

1.2345

In [49]:
attempt_float("something")

'something'

Numpy

In [ ]:
import numpy as np...............................